{% extends "base.html" %}


{% block start %}


<section class="section-conten padding-y" style="min-height:84vh">

        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
          <div class="card-body">
          <h4 class="card-title mb-4">Sign in</h4>
          <form method="POST">
            {% csrf_token %}
            {% include "alert.html" %}
            <div class="form-group">
                <input name="username" class="form-control" placeholder="username" type="text" required>
            </div>
            <div class="form-group">
                <input name="password" class="form-control" placeholder="Password" type="password" id="password" required>
            </div>
              <div class="form-group">
                <label class="float-left custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"id="showPassword"> <div class="custom-control-label"> show password </div></label>
              </div>
            <!-- ... rest of the form ... -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" id="loginButton" disabled> Login </button>
            </div>
        </form>
          </div>
        </div>

         <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>

         <br><br>


    </section>


<script>
  const usernameInput = document.querySelector('input[name="username"]');
    const passwordInput = document.querySelector('input[name="password"]');
    const loginButton = document.getElementById('loginButton');

    usernameInput.addEventListener('input', toggleLoginButton);
    passwordInput.addEventListener('input', toggleLoginButton);

    function toggleLoginButton() {
        if (usernameInput.value && passwordInput.value) {
            loginButton.removeAttribute('disabled');
        } else {
            loginButton.setAttribute('disabled', 'disabled');
        }
    }

    document.getElementById('showPassword').onclick = function() {
        if (this.checked) {
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    };


document.getElementById('showPassword').onclick = function() {
    if ( this.checked ) {
       document.getElementById('password').type = "text";
    } else {
       document.getElementById('password').type = "password";
    }
};</script>

{% endblock %}
