{% extends "base.html" %}


{% block start %}

<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Sign Up</h4>
            <form method="POST">
                {% csrf_token %}
                {% include "alert.html" %}
                <div class="form-group">
                    <input class="form-control" required placeholder="Username" name="username" type="text" id="username">
                    <div id="usernameValidationMessage"></div>
                </div>
<!--                <div class="form-group">-->
<!--                    <input  class="form-control" required placeholder="Last Name" name="last_name" type="text">-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <input  class="form-control" required placeholder="Email" name="email" type="text">-->
<!--                </div> &lt;!&ndash; form-group// &ndash;&gt;-->
                    <div class="form-group">
                        <input class="form-control" required placeholder="Password" name="password" id="passwordInput" type="password">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <input class="form-control" required placeholder="Confirm Password" name="confirm_password" id="confirmPasswordInput" type="password">
                        <div id="passwordValidationMessage"></div>
                    </div> <!-- form-group// -->


                <div class="form-group">
                    <button type="submit" id="submitButton" class="btn btn-primary btn-block"> Register </button>
                </div> <!-- form-group// -->
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4">Already have account? <a href="{% url 'login' %}">Sign in</a></p>
    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#username').on('input', function() {
            const username = $(this).val();
            if (username.length >= 3) {
                $.ajax({
                    url: '{% url "check_username_availability" %}',
                    data: {'username': username},
                    method: 'GET',
                    success: function(data) {
                        if (data.available) {
                            $('#usernameValidationMessage').text('Username is available').css('color', 'green');
                            $('#submitButton').prop('disabled', false);


                        } else {
                            $('#usernameValidationMessage').text('Username is already taken').css('color', 'red');
                            $('#submitButton').prop('disabled', true);


                        }
                    }
                });
            } else {
                $('#usernameValidationMessage').text('').css('color', 'initial');
            }
        });
    });
</script>
<script>
    $(document).ready(function() {
        $('#passwordInput, #confirmPasswordInput').on('keyup', function() {
            const password = $('#passwordInput').val();
            const confirmPassword = $('#confirmPasswordInput').val();
            
            if (password !== confirmPassword) {
                $('#submitButton').prop('disabled', true);

            } else {
                $('#submitButton').prop('disabled', false);

            }
        });
    });
    </script>

{% endblock %}